---
import Header from '../components/Header.astro';

const { slots } = Astro;

---

<html>
  <head>
    <title>Astro Blog</title>
  </head>
  <body>
    <Header />
    <main>
      {slots.default}
    </main>
    <footer>
      <p>&copy; {new Date().getFullYear()} Astro Blog. All rights reserved.</p>
    </footer>
  </body>
</html>